<!--INICIO EXITOS DE ARTISTA-->

<div *ngIf="!isAlbumesPressed"> 

  <div style="text-align: center;">
    <img src="{{artista.images[0].url}}" class="img-circle rounded-circle" alt="..." width="300" height="300">
    <h1>{{artista.name}}</h1>
    <button type="button" style="float: right;" class="btn btn-outline-success" (click)="verArtistAlbums(artista.id)">Ver albumes</button>
  </div>
  
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col"> FOTO</th>
        <th scope="col">ALBUM</th>
        <th scope="col">CANCION</th>
        <th scope="col">VISTA PREVIA</th>
      </tr>
    </thead>
    <tbody style="background-color: black;">
      <tr *ngFor="let track of tracks">
        <td>
          <div>
            <button (click)="pasarCancionID(track.uri)"type="button" class="close" data-toggle="modal" data-target="#exampleModalScrollable">
              <span aria-hidden="true" style="color:chartreuse ; margin-right: 100px;">&hearts;</span>
            </button>
          </div>
        </td>
        <td>
          <div style="float: right;">
            <img src="{{track.album.images[0].url}}" class="img-fluid rounded-circle" width="50" height="50">
          </div>
        </td>
        <td>{{track.album.name}}</td>
        <td>{{track.name}}</td>
        <td>
          <iframe class="dar" [src]="track.id | domseguro:'https://open.spotify.com/embed/track/'" width="300" height="80"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
  
      </tr>
    </tbody>
  </table>

</div>
<!--FIN EXITOS DE ARTISTA-->


<!--INICIO ALBUMES DE ARTISTA-->

<div *ngIf="isAlbumesPressed && !isAlbumesDetailPressed">  

<div style="text-align: right;">
  <button type="button"  class="btn btn-outline-success" (click)="verArtistExitos()">Ver exitos</button>
</div>
  
  <div class="card-columns" >
    <div  class="card rounded-sm" style="background-color: #262626 ; text-align: center;" *ngFor="let album of albums">
      <div (click)="albumDetail(album)">
        <img  *ngIf="album.images.length == 0, else imgOk" src="assets/img/imgNoDisponible.jpg" class="card-img-top">
      
        <ng-template #imgOk >
          <img  src="{{album.images[0].url}}" class="card-img-top" >
        </ng-template>
      
        <div class="card-body">
          <h5 class="card-title text-light">{{album.name}}</h5>
          <h5 class="card-title text-light">{{album.release_date}}</h5>
    
          <span class="badge badge-pill badge-success"*ngFor="let artista of album.artists">{{artista.name}}</span>
      </div>
      </div>
     
    </div>      
  </div>
 
</div>

<!--FIN ALBUMES DE ARTISTA-->

 <!--INICIO TRACK DEL ALBUM-->

 <div *ngIf="isAlbumesDetailPressed"> 

  
  <div style="text-align: center;">
    <img src="{{albumSelected.images[0].url}}" class="img-circle rounded-circle" alt="..." width="300" height="300">
    <h1>{{albumSelected.name}}</h1>
    <button type="button" style="float: right;" class="btn btn-outline-success" (click)="verArtistAlbums('')">Ver albumes</button>
  </div>
  
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">CANCION</th>
        <th scope="col">VISTA PREVIA</th>
      </tr>
    </thead>
    <tbody style="background-color: black;">
      <tr *ngFor="let track of tracksByAlbum">
        <td>
          <div>
            <button (click)="pasarCancionID(track.uri)"type="button" class="close" data-toggle="modal" data-target="#exampleModalScrollable">
              <span aria-hidden="true" style="color:chartreuse ; margin-right: 100px;">&hearts;</span>
            </button>
          </div>
        </td>
        
        <td>{{track.name}}</td>
        <td>
          <iframe class="dar" [src]="track.id | domseguro:'https://open.spotify.com/embed/track/'" width="300" height="80"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
  
      </tr>
    </tbody>
  </table>

</div>
<!--FIN TRACK DEL ALBUM-->










<!--INICIO Modal canciones -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Escoja una playlist para guardar la cancion...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


  <select class="custom-select" [(ngModel)]="playlistID" required>
    <option *ngFor="let playlist of misPlaylist" value="{{playlist.id}}">{{playlist.name}}</option>
  </select>


  <div style="text-align: center;margin: 20px;">
    <button data-dismiss="modal" type="button" style="width: 300px;" (click)="guardarEnPlaylist()" class="btn btn-outline-success">añadir</button>
</div>
<!-- FIN Modal canciones -->

      
     


      </div>

    </div>
  </div>
</div>